body {
  background-color: white;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  width: 100%;
  min-height: 100vh;
  font-size: 15px;
  max-width: 980px;
  margin-bottom: 192px;
  margin: 0 auto;
}
